<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/scss/style.css" />
    <title>IMUN PHARM</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header_logo">
          <img src="../static/icon/imun logo.png" alt="" />
        </div>
        <ul class="header_ul">
          <li>Mahsulot haqida</li>
          <li>Mahsulot tarkibi</li>
          <li>Ko’rsatmalar</li>
          <li>Qo’llash usuli</li>
          <li>Ma’lumotlar</li>
        </ul>
        <div class="header_language">
          <img src="../static/icon/uzb flag.png" alt="" />
          <img src="../static/icon/header stik.svg" alt="" />
        </div>
        <div class="header_menu">
          <div class="header_menu-PhoneNum">
            <img src="../static/icon/phone icon.svg" alt="" />
            <span> +998 55 5202022</span>
          </div>
          <div class="header_button">
            <button type="submit">Bog’lanish</button>
            <!-- <img src="../static/icon/header arrow.svg" alt="" /> -->
          </div>
        </div>
      </header>
      <div class="section-1">
        <div class="sec-1_bg">
          <button id="maslahatBtn" type="submit">Maslahat olish</button>
        </div>
      </div>
      <script>
        const maslahatBtn = document.getElementById("maslahatBtn");

        maslahatBtn.addEventListener("click", function () {
          const section7 = document.querySelector(".rolik");
          section7.scrollIntoView({ behavior: "smooth" });
        });
      </script>

      <div class="section-2">
        <div class="sec-2_bg">
          <div class="sec-2_title">
            <h3>MAHSULOT TARKIBI</h3>
          </div>
          <div class="sec-2_content">
            <div class="sec-2_con-box">
              <p>Baliq yo’gi omega 3</p>
              <img src="../static/img/sec-2 img1.png" alt="" />
            </div>
            <div class="sec-2_con-box">
              <p>Zinc</p>
              <img src="../static/img/sec-2 img2.png" alt="" />
            </div>
            <div class="sec-2_con-box">
              <p>D3 Vitamini</p>
              <img src="../static/img/sec-2 img3.png" alt="" />
            </div>
            <div class="sec-2_con-box">
              <p>EPA & DHA</p>
              <img src="../static/img/sec 2 feesh.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="section-3">
        <div class="sec-3_img">
          <div class="sec-3_title">
            <h3>FOYDALANISH KO‘RSATMALARI:</h3>
          </div>
          <img src="../static/img/sec 3 img 2 png.png" alt="" />
        </div>
      </div>

      <div class="section-4">
        <div class="sec-4_text">
          <h3>SIFAT STANDARTLARI</h3>
          <p>
            Ekstraktlar va tasdiqlangan oziq-ovqat ishlatiladi ijobiy ro'yxatga
            kiritilgan xom ashyo jahon tashkiloti o'simliklari sog'liqni
            saqlash, Evropa Ittifoqi va Qishloq va o 'rmon xo' jaligi vazirligi.
          </p>
          <form
            action="https://me-qr.com/ru/mobile/pdf/19498150"
            method="get"
            target="_blank"
          >
            <button type="submit">Batafsil</button>
          </form>
        </div>
        <div class="sec-4_img-block">
          <img src="../static/img/section 4 ifos.png" alt="" />
          <img src="../static/img/section 4 gmp.png" alt="" />
          <img src="../static/img/section 4 fda.png" alt="" />
          <img src="../static/img/section 4 halal.png" alt="" />
          <img src="../static/img/section 4 iso.png" alt="" />
          <img src="../static/img/section 4 tcsb.png" alt="" />
        </div>
      </div>
      <div class="video_place">
        <div class="video-border">
          <video src="../static/media/imun rolik.mp4" controls loop></video>
        </div>
      </div>
      <div class="section-5">
        <div class="sec-5_bg">
          <div class="sec-5_text">
            <div class="sec-5_text-title">
              <h3>DOZA VA QO'LLANISH TARTIBI:</h3>
            </div>
            <div class="sec-5_text-con">
              <div class="sec-5_text-conL">
                <div class="sec-5_list">
                  <img src="../static/icon/sec 5 list.svg" alt="" />
                  <p>Omegazinc® siropi</p>
                </div>
                <div class="sec-5_list">
                  <img src="../static/icon/sec 5 list.svg" alt="" />
                  <p>
                    Bir yoshdan sakkiz yoshgacha <br />
                    bo'lgan bolalar uchun - kuniga 1 marta 1 osh qoshiq.
                  </p>
                </div>
                <div class="sec-5_list">
                  <img src="../static/icon/sec 5 list.svg" alt="" />
                  <p>
                    Kattalar uchun - kuniga <br />
                    1-2 osh qoshiq.
                  </p>
                </div>
              </div>
              <div class="sec-5_text-conR">
                <div class="sec-5_list">
                  <img src="../static/icon/sec 5 list.svg" alt="" />
                  <p>Davolash kursi 2-3 oy.</p>
                </div>
                <div class="sec-5_list">
                  <img src="../static/icon/sec 5 list.svg" alt="" />
                  <p>
                    Sirop shishasini ishlatishdan <br />
                    oldin chayqatish kerak.
                  </p>
                </div>
                <div class="sec-5_list">
                  <img src="../static/icon/sec 5 list.svg" alt="" />
                  <p>
                    Omegazinc® ovqat bilan yoki <br />
                    ovqatdan keyin darhol olinadi.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="sec-5_img-block">
            <img class="img-1" src="../static/img/sec 5 img 2.png" alt="" />
            <img class="img-2" src="../static/img/sec 5 img 1.png" alt="" />
          </div>
        </div>
      </div>
      <div class="section-6">
        <div class="sec-6_img-block">
          <img src="../static/img/sec 6 img.png" alt="" />
        </div>
        <div class="sec-6_text">
          <div class="sec-6_title">
            <h3>KO’RINISH SHAKLI:</h3>
          </div>
          <div class="sec-6_text-con">
            <div class="sec-6_list">
              <img src="icon/Symbol.svg" alt="" />
              <p>40 ta bir martalik qoshiq, har biri 5 ml.</p>
            </div>
            <div class="sec-6_list">
              <img src="icon/Symbol.svg" alt="" />
              <p>ISHLAB CHIQARISH:</p>
            </div>
            <div class="sec-6_list">
              <img src="icon/Symbol.svg" alt="" />
              <p>Berko Pharmaceuticals and Chemicals Ind. Inc.</p>
            </div>
            <div class="sec-6_list">
              <img src="icon/Symbol.svg" alt="" />
              <p>Turkiya, Istanbul.</p>
            </div>
            <div class="sec-6_button">
              <button id="buyurtmaBtn" type="submit">BUYURTMA BERISH</button>
              <img src="../static/icon/header arrow.svg" alt="" />
            </div>
            <script>
              const buyurtmaBtn = document.getElementById("buyurtmaBtn");

              buyurtmaBtn.addEventListener("click", function () {
                const section7 = document.querySelector(".rolik");
                section7.scrollIntoView({ behavior: "smooth" });
              });
            </script>
          </div>
        </div>
      </div>
      <div class="section-6_2">
        <div class="rolik"></div>
        <h3>QAYERDAN BUYURTMA QILISHNI BILMAYABSIZMI?</h3>
        <p>
          Buning uchun o'z ma’lumotlarnigizni quyidagi so’rovda qoldirishingiz
          kifoya va siz bilan bizning operatorlarimiz tez orada bog’lanishadi
        </p>
      </div>
      <div class="section-7">
        <div class="sec-7_bg">
          <div class="sec-7_regist">
            <form action="/add_form" method="POST">
              <!-- Добавленная строка -->
              <div class="sec-7_reg-text">
                <h3>SO'ROV SHAKLI</h3>
                <input
                  class="inp-1"
                  type="text"
                  placeholder="Sizning ismingiz va familiyangiz"
                  name="name"
                />
                <input
                  class="inp-1"
                  type="number"
                  placeholder="Telefon raqamingiz"
                  name="numberphone"
                  col
                />
                <textarea
                  class="area"
                  id=""
                  cols="30"
                  rows="10"
                  placeholder="Sizning xabaringiz"
                ></textarea>
                <!-- <input class="inp-2" type="text" name="comment" /> -->
                <button type="submit">SO'ROV YUBORISH</button>
              </div>
            </form>
            <!-- Добавленная строка -->
          </div>
        </div>
      </div>
      <footer>
        <div class="footer_bg">
          <div class="foo-bg_col">
            <div class="foo_conL">
              <img
                class="imun_logo2"
                src="../static/icon/imun logo 2.png"
                alt=""
              />
              <div class="foo_conL-text">
                <img src="../static/icon/loc.svg" alt="" />
                <span>Tashkent / UZBEKISTAN</span>
              </div>
              <div class="foo_conL-text">
                <img src="../static/icon/mobil.svg" alt="" />
                <span>+998(55) 5202022</span>
              </div>
              <div class="foo_conL-text">
                <img src="../static/icon/mail.svg" alt="" />
                <span>info@imumpharma.uz</span>
              </div>
            </div>
            <div class="foo_conR">
              <div class="foo_r">
                <h3>Mahsulot haqida</h3>
              </div>
              <div class="foo_r">
                <h3>Mahsulot tarkibi</h3>
                <p>Baliq yog’i OMEGA 3</p>
                <p>Zinc</p>
                <p>D3 Vitamini</p>
              </div>
              <div class="foo_r">
                <h3>Qo’shimcha ma’lumotlar</h3>
                <p>Mahsulot haqida</p>
                <p>Sertifikatlar</p>
                <p>Kontaktlar</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
